<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .android-large-13-8Dy {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 9.65rem 3.35rem 4.3rem 3.25rem;
  position: relative;
  width: 100%;

  .stand-ups-hRV {
    align-items: center;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 400;
    justify-content: center;
    letter-spacing: -0.001rem;
    line-height: 0.75;
    margin: 0rem 1.4rem 8.7rem 0rem;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .stand-up-shows-on-life-delve-into-the-humorous-aspects-of-the-human-experience-exploring-the-ups-and-downs-quirks-and-ironies-of-everyday-life-comedians-use-their-comedic-talents-to-tackle-relatable-topics-such-as-relationships-work-family-dynamics-and-the-challenges-of-modern-living-with-sharp-wit-and-clever-observations-they-shed-light-on-the-absurdities-and-idiosyncrasies-that-we-encounter-in-our-daily-routines-these-shows-offer-a-cathartic-escape-from-the-mundane-inviting-audiences-to-laugh-at-themselves-and-find-humor-in-the-shared-struggles-and-joys-of-being-alive-they-provide-a-lighthearted-perspective-that-can-bring-people-together-through-laughter-and-a-shared-appreciation-for-the-absurdity-of-life-Pr3 {
    align-items: center;
    color: #000000;
    display: flex;
    flex-shrink: 0;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    justify-content: center;
    letter-spacing: -0.001rem;
    line-height: 1.1;
    margin-bottom: 1.65rem;
    max-width: 29.4rem;
    text-transform: uppercase;
  }
  .button-primary-LoD {
    align-items: center;
    background-color: #e1caff;
    border-radius: 2rem;
    color: #413636;
    display: flex;
    flex-shrink: 0;
    font-family: Anton, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    height: 3.3rem;
    justify-content: center;
    letter-spacing: -0.001rem;
    line-height: 1.2;
    margin: 0rem 9.35rem 0rem 9.25rem;
    text-transform: uppercase;
    white-space: nowrap;
    width: calc(100% - 18.6rem);
  }
}
.button-primary-LoD:hover {
      background-color: #797272;
    }
  </style>
  <script>
        function home(){
      fetch('/home',{
        method:'GET'
      })
      .then(()=>{
        window.location.href='/home';
      })
      .catch((error)=>{
        console.error('error',error);
      })
    }
  </script>
</head>
<body>
  <div class="android-large-13-8Dy" id="1284:312">
    <div class="stand-ups-hRV" id="1284:314" >stand-ups</div>
    <div class="stand-up-shows-on-life-delve-into-the-humorous-aspects-of-the-human-experience-exploring-the-ups-and-downs-quirks-and-ironies-of-everyday-life-comedians-use-their-comedic-talents-to-tackle-relatable-topics-such-as-relationships-work-family-dynamics-and-the-challenges-of-modern-living-with-sharp-wit-and-clever-observations-they-shed-light-on-the-absurdities-and-idiosyncrasies-that-we-encounter-in-our-daily-routines-these-shows-offer-a-cathartic-escape-from-the-mundane-inviting-audiences-to-laugh-at-themselves-and-find-humor-in-the-shared-struggles-and-joys-of-being-alive-they-provide-a-lighthearted-perspective-that-can-bring-people-together-through-laughter-and-a-shared-appreciation-for-the-absurdity-of-life-Pr3" id="1284:317">Stand-up shows on life delve into the humorous aspects of the human experience, exploring the ups and downs, quirks, and ironies of everyday life. Comedians use their comedic talents to tackle relatable topics such as relationships, work, family dynamics, and the challenges of modern living. With sharp wit and clever observations, they shed light on the absurdities and idiosyncrasies that we encounter in our daily routines. These shows offer a cathartic escape from the mundane, inviting audiences to laugh at themselves and find humor in the shared struggles and joys of being alive. They provide a lighthearted perspective that can bring people together through laughter and a shared appreciation for the absurdity of life.</div>
    <button class="button-primary-LoD" id="1286:321" onclick="home()">back</button>
    </div>
</body>
</html>