<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .android-large-6-npj {
  background-color: #d9d9d9;
  border-radius: 2rem;
  height: 80rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .auto-group-mazf-Qr7 {
    background-image: url('https://media.istockphoto.com/id/1470495953/photo/happy-african-guy-listening-playlist-music-on-mobile-phone-app-wearing-headphones-focus-on.webp?b=1&s=170667a&w=0&k=20&c=JCnAlKiggcPRrZfbBg_DZpFIwdOdit5zocI8VN9NaMs=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 11.8rem;
    left: 2.2rem;
    position: absolute;
    top: 8.7rem;
    width: 31.5rem;
  }
  .take-your-chance-and-tell-us-some-thing-F63 {
    color: #000000;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 400;
    height: 7.3rem;
    left: 3.5rem;
    line-height: 1.5075;
    position: absolute;
    top: 23.6rem;
    width: 30.3rem;
  }
  .button-primary-HoR {
    align-items: center;
    background-color: #e1caff;
    border-radius: 2rem;
    color: #000000;
    display: flex;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 5.6rem;
    justify-content: center;
    left: 2.8rem;
    letter-spacing: -0.001rem;
    line-height: 0.9;
    position: absolute;
    text-transform: uppercase;
    top: 35.8rem;
    white-space: nowrap;
    width: 30.3rem;
  }
  .button-primary-iNw {
    align-items: center;
    background-color: #e1caff;
    border-radius: 2rem;
    color: #000000;
    display: flex;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 5.6rem;
    justify-content: center;
    left: 3.5rem;
    letter-spacing: -0.001rem;
    line-height: 0.9;
    position: absolute;
    text-transform: uppercase;
    top: 44.5rem;
    white-space: nowrap;
    width: 29.6rem;
  }
  .button-primary-Ycs {
    align-items: center;
    background-color: #e1caff;
    border-radius: 2rem;
    color: #000000;
    display: flex;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 5.6rem;
    justify-content: center;
    left: 3.5rem;
    letter-spacing: -0.001rem;
    line-height: 0.9;
    position: absolute;
    text-transform: uppercase;
    top: 53.4rem;
    white-space: nowrap;
    width: 29.6rem;
  }
  .auto-group-56i7-o31 {
    height: 0.1rem;
    left: 0;
    position: absolute;
    top: 72.9rem;
    width: 21.6rem;

    .auto-group-se3d-85H {
      height: 100%;
      width: 7.2rem;
    }
  }
  .auto-group-exkk-TdM {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 0.1rem;
    left: 7.3rem;
    padding-right: 7.2rem;
    position: absolute;
    top: 73rem;
    width: 28.7rem;

    .auto-group-jsmv-jas {
      flex-shrink: 0;
      height: 100%;
      margin-right: 7.2rem;
      width: 7.1rem;
    }
    .auto-group-1ec3-58w {
      flex-shrink: 0;
      height: 100%;
      width: 7.2rem;
    }
  }
  .auto-group-3yyr-CjM {
    align-items: center;
    display: flex;
    height: 2.4rem;
    left: 2.5rem;
    position: absolute;
    top: 75.6rem;
    width: 30.7rem;

    .image-2-ihh {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-3-S7u {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-4-yNj {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-7-WdZ {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-5-F5M {
      flex-shrink: 0;
      height: 2.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
  }
  .button-primary-HoR:hover {
      background-color: #797272;
    }
    .button-primary-iNw:hover {
      background-color: #797272;
    }
    .button-primary-Ycs:hover {
      background-color: #797272;
    }
}
  </style>
  <script>
    function homepage(){
    fetch('/homeicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/homeicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function searchicon(){
    fetch('/searchicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/searchicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function discussicon(){
    fetch('/discussion',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/discussion';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function libraryicon(){
    fetch('/libraryicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/libraryicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function podcasticon(){
    fetch('/podcasticon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/podcasticon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    </script>
</head>
<body>
  <div class="android-large-6-npj" id="1166:296">
    <div class="auto-group-mazf-Qr7" id="W2E8xwEZ2cgShcYEsamazf"></div>
    <p class="take-your-chance-and-tell-us-some-thing-F63" id="1166:300">TAKE YOUR CHANCE AND TELL US SOME THING.</p>
    <button class="button-primary-HoR" id="1166:301">INTERACT WITH EVERYONE</button>
    <button class="button-primary-iNw" id="1166:303">COMMENT WITH EVERYONE</button>
    <button class="button-primary-Ycs" id="1166:305">SHARE US YOUR EXPERIENCE</button>
    <div class="auto-group-56i7-o31" id="W2E97BVp83b2SV83GT56i7">
    <div class="auto-group-se3d-85H" id="W2E9E6Txg8eggkactcSE3d"></div>
    </div>
    <div class="auto-group-exkk-TdM" id="W2E9L6Hy7AwqQUe7MnexkK">
    <div class="auto-group-jsmv-jas" id="W2E9UqYPuMYWhptsHvJsMV"></div>
    <div class="auto-group-1ec3-58w" id="W2E9YfmLxTquzpNskx1EC3"></div>
    </div>
    <div class="auto-group-3yyr-CjM" id="W2E9fqE5Mvkd2Kfw9k3YyR">
    <img class="image-2-ihh" src="https://img.icons8.com/?size=1x&id=83326&format=png" onclick="homepage()" id="1178:309"/>
    <img class="image-3-S7u" src="https://img.icons8.com/?size=1x&id=59878&format=png" onclick="searchicon()" id="1178:310"/>
    <img class="image-4-yNj" src="https://img.icons8.com/?size=1x&id=89281&format=png" onclick="discussicon()" id="1178:311"/>
    <img class="image-7-WdZ" src="https://img.icons8.com/?size=1x&id=59848&format=png" onclick="libraryicon()" id="1178:312"/>
    <img class="image-5-F5M" src="https://img.icons8.com/?size=1x&id=100059&format=png" onclick="podcasticon()" id="1178:313"/>
    </div>
    </div>
</body>
</html>