<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>homepage</title>

<style>
  .android-large-1-ZND {
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;

  .auto-group-gz5x-zyK {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 2rem 2.1rem 3.4rem 1.8rem;
    width: 100%;

    .auto-group-frw3-YWy {
      background-image: url('https://media.istockphoto.com/id/1185604466/photo/happiness.webp?b=1&s=170667a&w=0&k=20&c=Mgz7ji-7tvxtmmmVJl_G46CMkti6dMOBIaq9KGeF4sE=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border: solid 0.1rem #000000;
      border-radius: 2rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 11rem;
      margin-bottom: 2.4rem;
      width: 100%;
    }
    .auto-group-nxah-mPj {
      background-image: url('https://media.istockphoto.com/id/576892238/photo/portrait-of-a-nice-looking-woman.webp?b=1&s=170667a&w=0&k=20&c=e87ddNRgTj-YEXmN6y2yZ8sH0wpUu-a99mhME-IvkrE=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border: solid 0.1rem #000000;
      border-radius: 2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      flex-shrink: 0;
      height: 11rem;
      width: 100%;
    }
  }
  .auto-group-j3hx-qeV {
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 3rem 3rem 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 4.7rem 2.5rem 2.8rem 3.2rem;
    width: 100%;

    .auto-group-8fiu-xDK {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 3.7rem;
      margin: 0rem 10.6rem 0.9rem 6.7rem;
      width: calc(100% - 17.3rem);

      .auto-group-jxcd-TQy {
        background-image: url('https://media.istockphoto.com/id/1432403413/photo/the-uppercase-black-letter-s-was-sprayed-on-the-cement-wall.webp?b=1&s=170667a&w=0&k=20&c=jvg_DDlRV6NtgKMMhNA-49Ma6gRtWv28XTdurJUAxBs=');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: solid 0.1rem #000000;
        border-radius: 1.25rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: calc(100% - 1.2rem);
        margin: 0.6rem 0.8rem 0.6rem 0rem;
        width: 2.5rem;
      }
      .stand-ups-Kxy {
        color: #000000;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5075;
        text-align: center;
        white-space: nowrap;
      }
    }
    .button-primary-p93 {
      align-items: center;
      background-color: #f6f5f5;
      border: solid 0.1rem #000000;
      border-radius: 0.8rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      color: rgba(64, 54, 54, 0.6899999976);
      display: flex;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 1.5rem;
      font-weight: 400;
      height: 2.4rem;
      justify-content: center;
      letter-spacing: -0.001rem;
      line-height: 1.2;
      margin: 0rem 11.3rem 4.3rem 11.2rem;
      text-transform: uppercase;
      white-space: nowrap;
      width: calc(100% - 22.5rem);
    }
    .button-primary-p93:hover {
      background-color: #797272;
    }
    .auto-group-s3zm-nk5 {
      background-image: url('https://media.istockphoto.com/id/1466750946/photo/hypnosis-session-vintage-pocket-watch-with-chain-swinging-on-grey-background-motion-effect.webp?b=1&s=170667a&w=0&k=20&c=5YqxS811_IphCeH8UKx_pbkZlY5ouDL9-tizbfNL3A8=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 2rem;
      flex-shrink: 0;
      height: 7.6rem;
      margin-bottom: 4.3rem;
      width: 100%;
    }
    .auto-group-ybfb-VeV {
      background-image: url('https://media.istockphoto.com/id/1433608916/photo/abstract-and-futuristic-fine-art-woman-portrait-in-dark-background.webp?b=1&s=170667a&w=0&k=20&c=poIcajg1CNrgTp9U145iW3qpBs_fViY3SZs5pGHulYg=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 2rem;
      flex-shrink: 0;
      height: 7.6rem;
      margin-bottom: 4.3rem;
      width: 100%;
    }
    .auto-group-fwzw-PE5 {
      background-image: url('https://media.istockphoto.com/id/544668770/photo/pretty-young-woman.jpg?s=612x612&w=0&k=20&c=MTpRg5x4gOUISH8PM2xK_EPRQuafFh-P0iCmI121wgI=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 2rem;
      flex-shrink: 0;
      height: 7.6rem;
      width: 100%;
    }
  }
}
</style>

  <script>

    function signupPage1(){
      fetch('/signup',{
        method:'GET'
      })
      .then(()=>{
        window.location.href='/signup';
      })
      .catch((error)=>{
        console.error('error',error);
      })
    }
    function standups(){
      fetch('/standups',{
        method:'GET'
      })
      .then(()=>{
        window.location.href='/standups';
      })
      .catch((error)=>{
        console.error('error',error);
      })
    }
      function logo(){
      fetch('/logo',{
        method:'GET'
      })
      .then(()=>{
        window.location.href='/logo';
      })
      .catch((error)=>{
        console.error('error',error);
      })
    }
  
     </script> 

</head>
<body>
  <div class="android-large-1-ZND" id="1158:287">
    <div class="auto-group-gz5x-zyK" id="UNjXj9QoqCM7U6uQ8dgZ5X">
    <div class="auto-group-frw3-YWy" id="UNjWJgnCtuHJ5P5QBxfRw3"></div>
    <div class="auto-group-nxah-mPj" id="UNjWS6jX9k33t8CwMPNxAH"></div>
    </div>
    <div class="auto-group-j3hx-qeV" id="UNjWbvnUdtdbtqkSHbJ3hX">
    <div class="auto-group-8fiu-xDK" id="UNjWtkdmxauVkEhLmW8fiu">
    <img class="auto-group-jxcd-TQy" id="UNjX5fVG8hVvUKXahnJxCD"  onclick="logo()"></img>
    <p class="stand-ups-Kxy" id="1159:290" onclick="standups()">STAND-UPS</p>
    </div>
    <button class="button-primary-p93" id="1159:320" onclick="signupPage1()">let's go!</button>
    <div class="auto-group-s3zm-nk5" id="UNjXF5PFCZ24WyLx2GS3zM"></div>
    <div class="auto-group-ybfb-VeV" id="UNjXLpifnDUATTZxioybFB"></div>
    <div class="auto-group-fwzw-PE5" id="UNjXRVFZfuvPgaWERHFwZw"></div>
    </div>
    </div>
</body>
</html>
