<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .android-large-7-Hym {
  background-color: #d9d9d9;
  border-radius: 2rem;
  height: 80rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .my-library-J8B {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 400;
    height: 1.8rem;
    justify-content: center;
    left: 1.45rem;
    letter-spacing: -0.001rem;
    line-height: 0.75;
    position: absolute;
    text-transform: uppercase;
    top: 9.5rem;
    white-space: nowrap;
    width: 10.6rem;
  }
  .auto-group-2dtx-jmD {
    align-items: center;
    display: flex;
    height: 1.85rem;
    left: 1.65rem;
    position: absolute;
    top: 14.4rem;
    width: 34.8rem;

    .all-vedios-pnf {
      align-items: center;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      justify-content: center;
      letter-spacing: -0.001rem;
      line-height: 0.9;
      margin: 0rem 1.8rem 0.05rem 0rem;
      text-transform: uppercase;
      white-space: nowrap;
    }
    .keep-watching-tGj {
      align-items: center;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      justify-content: center;
      letter-spacing: -0.001rem;
      line-height: 0.9;
      margin: 0.05rem 2.1rem 0rem 0rem;
      text-transform: uppercase;
      white-space: nowrap;
    }
    .keep-listening-AV9 {
      align-items: center;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      justify-content: center;
      letter-spacing: -0.001rem;
      line-height: 0.9;
      margin-bottom: 0.05rem;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
  .downloads-ShZ {
    align-items: center;
    color: #000000;
    display: flex;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    height: 1.8rem;
    justify-content: center;
    left: 1.5rem;
    letter-spacing: -0.001rem;
    line-height: 0.9;
    position: absolute;
    text-transform: uppercase;
    top: 20.05rem;
    white-space: nowrap;
    width: 9.1rem;
  }
  .auto-group-nnq3-8KV {
    align-items: flex-start;
    display: flex;
    height: 9.4rem;
    left: 1.5rem;
    position: absolute;
    top: 23.1rem;
    width: 32.7rem;

    .auto-group-a6jm-3ST {
      background-image: url('https://media.istockphoto.com/id/1216367685/photo/beautiful-bearded-long-haired-man.webp?b=1&s=170667a&w=0&k=20&c=gkc9P5fgoXJerACLduZy5LzwJMJD4lCxnslTUCf579Q=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      flex-shrink: 0;
      height: 9.2rem;
      margin: 0.2rem 1.1rem 0rem 0rem;
      width: 18rem;
    }
    .auto-group-jekm-txs {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 13.6rem;

      .auto-group-dauk-qNK {
        flex-shrink: 0;
        width: 100%;

        .standups-my-experiences-at-newyork-b6b {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: -0.041rem;
          line-height: 2.2;
          max-width: 13.5rem;
        }
      }
      .auto-group-khdm-63M {
        flex-shrink: 0;
        height: 2.4rem;
        width: 100%;
      }
    }
  }
  .auto-group-9rf9-pEF {
    align-items: flex-start;
    display: flex;
    height: 9.4rem;
    left: 1.5rem;
    position: absolute;
    top: 56.7rem;
    width: 31.7rem;

    .auto-group-ntpd-YR9 {
      background-image: url('https://media.istockphoto.com/id/1197262190/photo/playing-electric-guitar-on-stage.webp?b=1&s=170667a&w=0&k=20&c=HLGJFpU40aoxNDXdwdbhF5EArmpjzvhrasPShIg2RJ4=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      flex-shrink: 0;
      height: 9.2rem;
      margin: 0.2rem 1.1rem 0rem 0rem;
      width: 18rem;
    }
    .auto-group-a2kj-E35 {
      flex-shrink: 0;
      height: 5.5rem;
      width: 12.6rem;

      .auto-group-amcx-a6w {
        height: 4.4rem;
        margin-bottom: 1.1rem;
        width: 100%;

        .standups-my-experiences-at-portugal-76s {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: -0.041rem;
          line-height: 2.2;
          max-width: 12.6rem;
        }
      }
    }
  }
  .auto-group-qukr-pX5 {
    align-items: flex-start;
    display: flex;
    height: 9.7rem;
    left: 1.5rem;
    position: absolute;
    top: 34rem;
    width: 31.7rem;

    .auto-group-aktw-YCB {
      background-image: url('https://media.istockphoto.com/id/578826762/photo/portrait-of-a-fresh-and-lovely-women.webp?b=1&s=170667a&w=0&k=20&c=WAY6Dk-CErdZnTOa574z-43y-1l8eJZlbaJ7Rt6pxE0=');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      flex-shrink: 0;
      height: 9.2rem;
      margin: 0.5rem 1.1rem 0rem 0rem;
      width: 18rem;
    }
    .auto-group-6gpb-qBH {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 12.6rem;

      .auto-group-yc7m-z4B {
        flex-shrink: 0;
        height: 4.4rem;
        width: 100%;

        .standups-my-experiences-at-california-wVD {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: -0.041rem;
          line-height: 2.2;
          max-width: 12.6rem;
        }
      }
      .auto-group-ym4w-TCf {
        flex-shrink: 0;
        height: 2.4rem;
        width: 100%;
      }
    }
  }
  .auto-group-kmuf-ywh {
    align-items: flex-start;
    display: flex;
    height: 9.5rem;
    left: 1.4rem;
    position: absolute;
    top: 45.4rem;
    width: 31.6rem;

    .auto-group-gcqb-72K {
      box-sizing: border-box;
      flex-shrink: 0;
      margin: 0.3rem 1.1rem 0rem 0rem;
      padding-left: 0.1rem;

      .rectangle-87-ovj {
        height: 9.2rem;
        object-fit: cover;
        vertical-align: top;
        width: 18rem;
      }
    }
    .auto-group-fkwp-LQs {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 12.4rem;

      .auto-group-tvd5-gUj {
        flex-shrink: 0;
        height: 4.4rem;
        width: 100%;

        .standups-my-experiences-at-germany-Rx7 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: -0.041rem;
          line-height: 2.2;
          max-width: 12.4rem;
        }
      }
      .auto-group-nrmd-Y19 {
        flex-shrink: 0;
        height: 2rem;
        width: 100%;
      }
    }
  }
  .rectangle-90-sp7 {
    background-color: #ffffff;
    height: 7.2rem;
    left: 18.85rem;
    position: absolute;
    top: 91rem;
    width: 7.2rem;
  }
  .auto-group-lbgf-zdq {
    height: 0.1rem;
    left: 0;
    object-fit: contain;
    position: absolute;
    top: 72.8rem;
    vertical-align: top;
    width: 28.8rem;
  }
  .auto-group-bekk-X7y {
    height: 0.1rem;
    left: 28.7rem;
    position: absolute;
    top: 72.9rem;
    width: 7.3rem;
  }
  .auto-group-nnbd-qeT {
    align-items: center;
    display: flex;
    height: 2.4rem;
    left: 2.5rem;
    position: absolute;
    top: 75.6rem;
    width: 30.7rem;

    .image-2-N8b {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-3-hAs {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-4-Egb {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-7-yu5 {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-5-j7Z {
      flex-shrink: 0;
      height: 2.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
  }
}
  </style>
  <script>
    function homepage(){
    fetch('/homeicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/homeicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function searchicon(){
    fetch('/searchicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/searchicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function discussicon(){
    fetch('/discussion',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/discussion';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function libraryicon(){
    fetch('/libraryicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/libraryicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function podcasticon(){
    fetch('/podcasticon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/podcasticon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    </script>
</head>
<body>
  <div class="android-large-7-Hym" id="1166:322">
    <div class="my-library-J8B" id="1166:325">MY LIBRARY</div>
    <div class="auto-group-2dtx-jmD" id="W2EBBCtA3J7iRQGgZX2DtX">
    <div class="all-vedios-pnf" id="1166:328">ALL VEDIOS</div>
    <div class="keep-watching-tGj" id="1166:329">KEEP WATCHING</div>
    <div class="keep-listening-AV9" id="1166:330">KEEP LISTENING</div>
    </div>
    <div class="downloads-ShZ" id="1166:331">DOWNLOADS</div>
    <div class="auto-group-nnq3-8KV" id="W2EBb2XoCY4x7Uczb8nNQ3">
    <div class="auto-group-a6jm-3ST" id="W2EC2Ry8kViA5Pw1A6A6jM"></div>
    <div class="auto-group-jekm-txs" id="W2EC8vnJtHhQMbfTAXjEKm">
    <div class="auto-group-dauk-qNK" id="W2ECFB6uAhqbrZZRQLdAUK">
    <p class="standups-my-experiences-at-newyork-b6b" id="1180:324">STANDUPS-My experiences at newyork</p>
    </div>
    <div class="auto-group-khdm-63M" id="W2ECMkkGaxSXjBEhLKkhDM"></div>
    </div>
    </div>
    <div class="auto-group-9rf9-pEF" id="W2EERhJRDkMY7gSWhr9RF9">
    <div class="auto-group-ntpd-YR9" id="W2EEe77QW82FXCHdFvNtPd"></div>
    <div class="auto-group-a2kj-E35" id="W2EEjMTfP2nFuCqgRCa2kj">
    <div class="auto-group-amcx-a6w" id="W2EEqmSeEN9pazdJW6amCX">
    <p class="standups-my-experiences-at-portugal-76s" id="1180:327">STANDUPS-My experiences at portugal</p>
    </div>
    </div>
    </div>
    <div class="auto-group-qukr-pX5" id="W2ECfkEHt5KytMRAjrQuKR">
    <div class="auto-group-aktw-YCB" id="W2ECxKb1MPkpxWXbT8aKtw"></div>
    <div class="auto-group-6gpb-qBH" id="W2ED3KSgNvfnZHFAqn6GpB">
    <div class="auto-group-yc7m-z4B" id="W2ED9ebTwoRfef5y18Yc7M">
    <p class="standups-my-experiences-at-california-wVD" id="1180:325">STANDUPS-My experiences at california</p>
    </div>
    <div class="auto-group-ym4w-TCf" id="W2EDFEGVxYeQQKRKrayM4w"></div>
    </div>
    </div>
    <div class="auto-group-kmuf-ywh" id="W2EDZPQupamDkKVT7CkMUF">
    <div class="auto-group-gcqb-72K" id="W2EDnoCEWTp8GngUjogcQB">
    <img class="rectangle-87-ovj" src="https://media.istockphoto.com/id/1395211388/photo/black-and-white-portrait-of-a-sensual-woman.webp?b=1&s=170667a&w=0&k=20&c=yQU1nK3KGQmKSVy3DBcQs5sd7BmVKxzapTGFkCUiyxY=" id="1166:335"/>
    </div>
    <div class="auto-group-fkwp-LQs" id="W2EDtThTofeYcrxfWofkWP">
    <div class="auto-group-tvd5-gUj" id="W2EDzTXUEhwhLb29yytVD5">
    <p class="standups-my-experiences-at-germany-Rx7" id="1180:326">STANDUPS-My experiences at germany</p>
    </div>
    <div class="auto-group-nrmd-Y19" id="W2EE6hr4X85tqYv8DnnRMd"></div>
    </div>
    </div>
    <div class="rectangle-90-sp7" id="1166:362"></div>
    <img class="auto-group-lbgf-zdq" src="https://media.istockphoto.com/id/578826762/photo/portrait-of-a-fresh-and-lovely-women.webp?b=1&s=170667a&w=0&k=20&c=WAY6Dk-CErdZnTOa574z-43y-1l8eJZlbaJ7Rt6pxE0=" id="W2EF9B7JYGjVbHBzSpLBGF"/>
    <div class="auto-group-bekk-X7y" id="W2EFNLQ3NmwMLWYYJnbEkK"></div>
    <div class="auto-group-nnbd-qeT" id="W2EFUR4F6GrBeeYrhWNNbd">
    <img class="image-2-N8b" src="https://img.icons8.com/?size=1x&id=83326&format=png" onclick="homepage()" id="1180:318"/>
    <img class="image-3-hAs" src="https://img.icons8.com/?size=1x&id=59878&format=png" onclick="searchicon()" id="1180:320"/>
    <img class="image-4-Egb" src="https://img.icons8.com/?size=1x&id=89281&format=png" onclick="discussicon()" id="1180:321"/>
    <img class="image-7-yu5" src="https://img.icons8.com/?size=1x&id=59848&format=png" onclick="libraryicon()" id="1180:322"/>
    <img class="image-5-j7Z" src="https://img.icons8.com/?size=1x&id=100059&format=png" onclick="podcasticon()" id="1180:323"/>
    </div>
    </div>
</body>
</html>