<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .android-large-8-73H {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;

  .auto-group-eptf-ujq {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 9.55rem 0rem 0rem 1.3rem;
    width: 100%;

    .podcasts-bsZ {
      align-items: center;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      justify-content: center;
      letter-spacing: -0.001rem;
      line-height: 0.75;
      margin-bottom: 2.15rem;
      text-transform: uppercase;
      white-space: nowrap;
      width: 100%;
    }
    .auto-group-kviw-eaw {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 11.5rem;
      margin: 0rem 4.5rem 1.1rem 0.2rem;
      width: calc(100% - 4.7rem);

      .auto-group-hmzt-vHZ {
        background-image: url('https://media.istockphoto.com/id/181890473/photo/old-fashioned-radio-disc-jockey-broadcasting.webp?b=1&s=170667a&w=0&k=20&c=YC1zdDomeEZ9DquSAEZRXRv4sCkiw3TXohSyu0eNJm4=');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex-shrink: 0;
        height: 100%;
        margin-right: 7rem;
        width: 11.5rem;
      }
      .auto-group-1jab-QyR {
        background-image: url('https://media.istockphoto.com/id/1434114908/photo/female-host-recording-radio-podcast-interview-with-guest-at-home-office-focus-on-latin-girl.webp?b=1&s=170667a&w=0&k=20&c=11AbBh-v2REyRbuYm8fP2b6UJRPOGM87jZGrFVCVe4A=');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex-shrink: 0;
        height: 100%;
        width: 11.5rem;
      }
    }
    .auto-group-heyt-wyM {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 2.2rem;
      margin: 0rem 5.6rem 1.5rem 0.7rem;
      width: calc(100% - 6.3rem);

      .auto-group-m8ix-TRu {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        letter-spacing: -0.041rem;
        line-height: 2.2;
        margin-right: 7.9rem;
        white-space: nowrap;
        width: 10.1rem;
      }
      .auto-group-v6qt-isd {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        letter-spacing: -0.041rem;
        line-height: 2.2;
        white-space: nowrap;
        width: 10.4rem;
      }
    }
    .auto-group-qctb-E5H {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 11.5rem;
      margin: 0rem 4.5rem 1.1rem 0rem;
      width: calc(100% - 4.5rem);

      .auto-group-cvbh-Le7 {
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        margin-right: 7rem;
        padding-left: 0.2rem;

        .rectangle-95-stw {
          height: 11.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 11.5rem;
        }
      }
      .auto-group-lssd-nm1 {
        background-image: url('https://media.istockphoto.com/id/1456768555/photo/multiracial-hosts-streaming-podcast-at-digital-studio-soft-focus-on-female-face-black-and.webp?b=1&s=170667a&w=0&k=20&c=ez5GHYifhsrXIgSRP1-Y7k7nxM7yO30wg_p5sTd5-dM=');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex-shrink: 0;
        height: 100%;
        width: 11.5rem;
      }
    }
    .auto-group-amq7-VvK {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 4.5rem 1.4rem 0.6rem;
      width: calc(100% - 5.1rem);

      .auto-group-cfkp-2QT {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        height: 2.2rem;
        justify-content: center;
        letter-spacing: -0.041rem;
        line-height: 2.2;
        margin: 0.1rem 8.3rem 0rem 0rem;
        white-space: nowrap;
        width: 10.2rem;
      }
      .auto-group-x2qq-HbH {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        height: 2.2rem;
        justify-content: center;
        letter-spacing: -0.041rem;
        line-height: 2.2;
        margin-bottom: 0.1rem;
        white-space: nowrap;
        width: 11.1rem;
      }
    }
    .auto-group-mmt7-xhR {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 11.5rem;
      margin: 0rem 4.5rem 1.3rem 0.2rem;
      width: calc(100% - 4.7rem);

      .auto-group-9eck-tLB {
        background-image: url('https://media.istockphoto.com/id/1292414100/photo/beautiful-girl-with-curly-hairstyle.webp?b=1&s=170667a&w=0&k=20&c=lpAGJOmaUid7gJT_8tbc6PWWVROa1FqFpCsul5dR0Oc=');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex-shrink: 0;
        height: 100%;
        margin-right: 7rem;
        width: 11.5rem;
      }
      .auto-group-hcjf-DNT {
        background-image: url('https://media.istockphoto.com/id/1433180478/photo/beautiful-woman-enjoying-autumn-black-and-white-photo.webp?b=1&s=170667a&w=0&k=20&c=XSekj8C0dDBiF6tk3NmD6M0bsGKCWDdmJlTVrun_LCc=');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex-shrink: 0;
        height: 100%;
        width: 11.5rem;
      }
    }
    .auto-group-tlef-Y9q {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 2.2rem;
      margin: 0rem 4.5rem 11.7rem 0.9rem;
      width: calc(100% - 5.4rem);

      .auto-group-dshh-Tnb {
        box-sizing: border-box;
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        height: 100%;
        letter-spacing: -0.041rem;
        line-height: 2.2;
        margin-right: 8.7rem;
        padding: 0rem 0.2rem 0rem 0.8rem;
        white-space: nowrap;
      }
      .auto-group-hnrw-m2b {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        letter-spacing: -0.041rem;
        line-height: 2.2;
        white-space: nowrap;
        width: 10.7rem;
      }
    }
    .auto-group-k7ek-rpj {
      flex-shrink: 0;
      margin-left: 5.9rem;
      width: 28.8rem;

      .auto-group-vq4x-1Bq {
        height: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 14.4rem;
      }
    }
  }
  .auto-group-cksp-Lju {
    flex-shrink: 0;
    height: 0.1rem;
    margin-bottom: 2.6rem;
    width: 100%;

    .auto-group-tfp9-ry9 {
      height: 100%;
      width: 7.2rem;
    }
  }
  .auto-group-izud-n67 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 2.8rem 0rem 2.5rem;
    width: calc(100% - 5.3rem);

    .image-2-VFR {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-3-caw {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-4-kSF {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-7-VPq {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-5-qTh {
      flex-shrink: 0;
      height: 2.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
  }
}
  </style>
  <script>
    function homepage(){
    fetch('/homeicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/homeicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function searchicon(){
    fetch('/searchicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/searchicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function discussicon(){
    fetch('/discussion',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/discussion';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function libraryicon(){
    fetch('/libraryicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/libraryicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function podcasticon(){
    fetch('/podcasticon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/podcasticon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    </script>
</head>
<body>
  <div class="android-large-8-73H" id="1166:377">
<div class="auto-group-eptf-ujq" id="W2ELdGUHGkFWVxDV3nePtf">
<div class="podcasts-bsZ" id="1166:378">PODCASTS</div>
<div class="auto-group-kviw-eaw" id="W2EHVcByMvTfTXZQc5Kviw">
<div class="auto-group-hmzt-vHZ" id="W2EHjmT3bw3iKiFsYaHmzT"></div>
<div class="auto-group-1jab-QyR" id="W2EHpM9kDAtFxRFKKW1jAb"></div>
</div>
<div class="auto-group-heyt-wyM" id="W2EHwqwFkUFhMaKgQUHeYT">
<div class="auto-group-m8ix-TRu" id="W2EJ8b8MMfcktqGGVfM8iX">STANDUPS-linda</div>
<div class="auto-group-v6qt-isd" id="W2EJCLX78KJUbQoT39V6QT">STANDUPS-Sam</div>
</div>
<div class="auto-group-qctb-E5H" id="W2EJKLKSxrypS6CrarQctb">
<div class="auto-group-cvbh-Le7" id="W2EJXpxdXhGDS1zo4UCVBh">
<img class="rectangle-95-stw" src="https://media.istockphoto.com/id/1395211388/photo/black-and-white-portrait-of-a-sensual-woman.webp?b=1&s=170667a&w=0&k=20&c=yQU1nK3KGQmKSVy3DBcQs5sd7BmVKxzapTGFkCUiyxY=" id="1166:381"/>
</div>
<div class="auto-group-lssd-nm1" id="W2EJbaMPJLww8bXybxLSsd"></div>
</div>
<div class="auto-group-amq7-VvK" id="W2EJj9y686w48AZAcUAmQ7">
<div class="auto-group-cfkp-2QT" id="W2EJtKNVLac9PaY4AKcfkP">STANDUPS-Tony</div>
<div class="auto-group-x2qq-HbH" id="W2EJwjSTyPq8iWHw1dX2qq">STANDUPS-Mike</div>
</div>
<div class="auto-group-mmt7-xhR" id="W2EK4UkDxZfRmwrrnhmMt7">
<div class="auto-group-9eck-tLB" id="W2EKEySjiPBSXxxy7G9ecK"></div>
<div class="auto-group-hcjf-DNT" id="W2EKJiqVV2sAEYW9ekHcJF"></div>
</div>
<div class="auto-group-tlef-Y9q" id="W2EKRy8RAxPYrTk2y5tLEF">
<div class="auto-group-dshh-Tnb" id="W2EKaxsRpWqGw3qGfrDSHH">STANDUPS-Franklin</div>
<div class="auto-group-hnrw-m2b" id="W2EKfDFMHvD6C73Qkbhnrw">STANDUPS-Sheza</div>
</div>
<div class="auto-group-k7ek-rpj" id="W2EKnNi5hP7oDcLU9Pk7eK">
<img class="auto-group-vq4x-1Bq" src="https://media.istockphoto.com/id/1405599281/photo/portrait-beautiful-woman-with-jewelry.webp?b=1&s=170667a&w=0&k=20&c=cpKlclakPcMiXfAxkZUiCOUyTvK4rh3bjiN0Drf7m4E=" id="W2EKvTJxDto1mf2chAvq4X"/>
</div>
</div>
<div class="auto-group-cksp-Lju" id="W2EL3x6TmCATAp6yn9CkSP">
<div class="auto-group-tfp9-ry9" id="W2ELDSpe7WJGossB2AtFP9"></div>
</div>
<div class="auto-group-izud-n67" id="W2ELM2SLwGHPoStN2giZud">
<img class="image-2-VFR" src="https://img.icons8.com/?size=1x&id=83326&format=png" onclick="homepage()" id="1180:328"/>
<img class="image-3-caw" src="https://img.icons8.com/?size=1x&id=59878&format=png" onclick="searchicon()" id="1180:329"/>
<img class="image-4-kSF" src="https://img.icons8.com/?size=1x&id=89281&format=png" onclick="discussicon()" id="1180:330"/>
<img class="image-7-VPq" src="https://img.icons8.com/?size=1x&id=59848&format=png" onclick="libraryicon()" id="1180:331"/>
<img class="image-5-qTh" src="https://img.icons8.com/?size=1x&id=100059&format=png" onclick="podcasticon()" id="1180:332"/>
</div>
</div>
</body>
</html>