<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
        function homepage(){
    fetch('/homeicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/homeicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function searchicon(){
    fetch('/searchicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/searchicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function discussicon(){
    fetch('/discussion',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/discussion';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function libraryicon(){
    fetch('/libraryicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/libraryicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function podcasticon(){
    fetch('/podcasticon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/podcasticon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function home(){
    fetch('/home',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/home';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
  </script>
  <style>
    .android-large-9-nZ9 {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;

  .auto-group-2jzf-Csm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 9.75rem 1.6rem 19.2rem 1.6rem;
    width: 100%;

    .profile-r59 {
      align-items: center;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      justify-content: center;
      letter-spacing: -0.001rem;
      line-height: 0.75;
      margin-bottom: 1.95rem;
      text-transform: uppercase;
      white-space: nowrap;
      width: 100%;
    }
    .auto-group-jcmr-G8s {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 5rem;
      margin: 0rem 19.05rem 4.35rem 0.1rem;
      width: calc(100% - 19.15rem);

      .auto-group-gu8j-8Ry {
        background-color: #d9d9d9;
        border-radius: 2.5rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        margin-right: 1.65rem;
        padding: 0.3rem;
        width: 5rem;

        .ellipse-13-qbH {
          background-image: url('https://media.istockphoto.com/id/1411155612/photo/side-profile-of-a-beautiful-young-black-woman-thinking-and-looking-powerful-standing-against.webp?b=1&s=170667a&w=0&k=20&c=7nGKLQGEmD2SfTwDFqgcgU4GjyYuBkaM2trsKjvgHQQ=');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          border-radius: 2.2rem;
          height: 4.4rem;
          width: 100%;
        }
      }
      .deebak-b-XU7 {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        justify-content: center;
        letter-spacing: -0.001rem;
        line-height: 0.9;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .auto-group-jnqk-EdR {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 15.1rem 3.05rem 0.1rem;
      width: calc(100% - 15.2rem);

      .my-profile-Ye7 {
        align-items: center;
        color: #6c6c6c;
        display: flex;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        justify-content: center;
        letter-spacing: -0.001rem;
        line-height: 0.9;
        margin: 0.1rem 2.3rem 0rem 0rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
      .settings-2JP {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        justify-content: center;
        letter-spacing: -0.001rem;
        line-height: 0.9;
        margin-bottom: 0.1rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .auto-group-u5pr-ud5 {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 5rem;
      margin: 0rem 16.75rem 2.2rem 0rem;
      width: calc(100% - 16.75rem);

      .auto-group-xzzv-E9Z {
        background-color: #d9d9d9;
        border-radius: 2.5rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        margin-right: 2.15rem;
        padding: 0.8rem 0.9rem 1rem 0.9rem;
        width: 5rem;

        .image-7-YAF {
          height: 3.2rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.2rem;
        }
      }
      .my-library-F4f {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        justify-content: center;
        letter-spacing: -0.001rem;
        line-height: 0.9;
        margin-top: 0.2rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .auto-group-asnp-Lro {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 5rem;
      margin: 0rem 8.9rem 2.3rem 0.1rem;
      width: calc(100% - 9rem);

      .auto-group-clif-4Xu {
        background-image: url('https://img.icons8.com/?size=1x&id=FCkfWk65YZhw&format=png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: solid 0.1rem #000000;
        border-radius: 2.5rem;
        box-sizing: border-box;
        filter: blur(0.2rem);
        flex-shrink: 0;
        height: 100%;
        margin-right: 2rem;
        width: 5rem;
      }
      .recommended-to-you-KTq {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        justify-content: center;
        letter-spacing: -0.001rem;
        line-height: 0.9;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .auto-group-vqvk-oP1 {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 5rem;
      margin: 0rem 19.55rem 2.9rem 0.1rem;
      width: calc(100% - 19.65rem);

      .auto-group-v9w1-vCj {
        background-image: url('https://img.icons8.com/?size=1x&id=86136&format=png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 2.5rem;
        flex-shrink: 0;
        height: 100%;
        margin-right: 2.15rem;
        width: 5rem;
      }
      .history-p3D {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        justify-content: center;
        letter-spacing: -0.001rem;
        line-height: 0.9;
        margin-top: 0.2rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    .button-primary-8Zh {
      align-items: center;
      background-color: #e1caff;
      border-radius: 2rem;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 3.4rem;
      justify-content: center;
      letter-spacing: -0.001rem;
      line-height: 0.9;
      margin: 0rem 12.3rem 0rem 10.9rem;
      text-transform: uppercase;
      white-space: nowrap;
      width: calc(100% - 23.2rem);
    }
  }
  .auto-group-xuip-AmH {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 0.1rem;
    width: 100%;

    .auto-group-mcpv-vEf {
      flex-shrink: 0;
      height: 100%;
      margin-right: 14.4rem;
      width: 7.2rem;
    }
    .auto-group-3ze3-r8K {
      flex-shrink: 0;
      height: 0.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 14.4rem;
    }
  }
  .auto-group-vyn7-9dD {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0rem 0rem 2rem 2.5rem;
    width: 100%;

    .auto-group-fsvd-t51 {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 0.1rem;
      margin: 0rem 0rem 2.6rem 4.7rem;
      padding-right: 14.4rem;
      width: calc(100% - 4.7rem);

      .auto-group-eaew-mPh {
        flex-shrink: 0;
        height: 100%;
        width: 7.2rem;
      }
      .auto-group-ay5y-iJw {
        flex-shrink: 0;
        height: 100%;
        width: 7.2rem;
      }
    }
    .auto-group-zffh-fV5 {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      margin-right: 2.8rem;

      .image-2-DFh {
        flex-shrink: 0;
        height: 2.4rem;
        margin-right: 4.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.4rem;
      }
      .image-3-YYs {
        flex-shrink: 0;
        height: 2.4rem;
        margin-right: 4.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.4rem;
      }
      .image-4-USX {
        flex-shrink: 0;
        height: 2.4rem;
        margin-right: 4.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.4rem;
      }
      .image-8-1ST {
        flex-shrink: 0;
        height: 2.4rem;
        margin-right: 4.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.4rem;
      }
      .image-5-irf {
        flex-shrink: 0;
        height: 2.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.4rem;
      }
    }
  }
  .button-primary-8Zh:hover {
      background-color: #797272;
    }
}
  </style>
</head>
<body>
  <div class="android-large-9-nZ9" id="1166:419">
    <div class="auto-group-2jzf-Csm" id="W2ERJYqvXL1sxbzcpy2JzF">
    <div class="profile-r59" id="1166:420">PROFILE</div>
    <div class="auto-group-jcmr-G8s" id="W2ENsY4Z6STATedktnJcMR">
    <div class="auto-group-gu8j-8Ry" id="W2EP6s1gVrtPPhsxbqgU8j">
    <div class="ellipse-13-qbH" id="1182:340"></div>
    </div>
    <div class="deebak-b-XU7" id="1166:424">DEEBAK B</div>
    </div>
    <div class="auto-group-jnqk-EdR" id="W2EPErnMjuwvMLdHE5JnQK">
    <div class="my-profile-Ye7" id="1166:425">MY PROFILE</div>
    <div class="settings-2JP" id="1166:426">SETTINGS</div>
    </div>
    <div class="auto-group-u5pr-ud5" id="W2EPQwKu5SPX9J1Fvuu5PR">
    <div class="auto-group-xzzv-E9Z" id="W2EPbgWzgdkagYwr26xZZV">
    <img class="image-7-YAF" src="https://img.icons8.com/?size=1x&id=85162&format=png" id="1182:341"/>
    </div>
    <div class="my-library-F4f" id="1166:436" onclick="libraryicon()">MY LIBRARY</div>
    </div>
    <div class="auto-group-asnp-Lro" id="W2EPoLrEQst9kMHXGHASNP">
    <div class="auto-group-clif-4Xu" id="W2EPxWFddMZF1mGQp8cLif"></div>
    <div class="recommended-to-you-KTq" id="1166:437" onclick="homepage()">RECOMMENDED TO YOU</div>
    </div>
    <div class="auto-group-vqvk-oP1" id="W2EQ7apqZNcegmJUSSVqvK">
    <div class="auto-group-v9w1-vCj" id="W2EQFzkVDikbcTmvgPv9w1"></div>
    <div class="history-p3D" id="1166:438">HISTORY</div>
    </div>
    <button class="button-primary-8Zh" id="1166:454" onclick="home()">SIGN OUT</button>
    </div>
    <div class="auto-group-xuip-AmH" id="W2EQPADDdBfJdy4z5BxUiP">
    <div class="auto-group-mcpv-vEf" id="W2EQWpf7jQG7Dx311FMCPV"></div>
    <img class="auto-group-3ze3-r8K" src="/api/try-prod-ap-southeast-1-first-cluster/project..." id="W2EQaet4nWZWWwX1UH3ZE3"/>
    </div>
    <div class="auto-group-vyn7-9dD" id="W2ERtchVb1e5dTcZQWVYn7">
    <div class="auto-group-fsvd-t51" id="W2EQieek2Zd3UaGL6WfsVd">
    <div class="auto-group-eaew-mPh" id="W2EQs9QayNNfzggcG1eaew"></div>
    <div class="auto-group-ay5y-iJw" id="W2EQwJxKAK8ofKwvRDaY5y"></div>
    </div>
    <div class="auto-group-zffh-fV5" id="W2ER5oiA77tSBSNCaiZFFH">
    <img class="image-2-DFh" src="https://img.icons8.com/?size=1x&id=83326&format=png" onclick="homepage()" id="1182:345"/>
    <img class="image-3-YYs" src="https://img.icons8.com/?size=1x&id=59878&format=png" onclick="searchicon()" id="1182:346"/>
    <img class="image-4-USX" src="https://img.icons8.com/?size=1x&id=89281&format=png" onclick="discussicon()" id="1182:347"/>
    <img class="image-8-1ST" src="https://img.icons8.com/?size=1x&id=59848&format=png" onclick="libraryicon()" id="1182:349"/>
    <img class="image-5-irf" src="https://img.icons8.com/?size=1x&id=100059&format=png" onclick="podcasticon()" id="1182:350"/>
    </div>
    </div>
    </div>
</body>
</html>