<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .android-large-11-Vwy {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 7rem 1.2rem 2rem 2.5rem;
  position: relative;
  width: 100%;

  .search-U3D {
    align-items: center;
    background-color: #d9d9d9;
    border: solid 0.1rem #d8d0e3;
    border-radius: 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 1.8rem 1.8rem 0.5rem;
    padding: 1.2rem 20.727rem 1.4rem 2.005rem;
    width: calc(100% - 2.3rem);

    .icon-search-CWw {
      flex-shrink: 0;
      height: 1.8rem;
      margin: 0.2rem 1.524rem 0rem 0rem;
      object-fit: contain;
      position: relative;
      vertical-align: top;
      width: 1.4439rem;
    }
    .text-VW3 {
      color: #9586a8;
      flex-shrink: 0;
      font-family: Abel, 'Source Sans Pro';
      font-size: 1.7rem;
      font-weight: 400;
      letter-spacing: -0.041rem;
      line-height: 1.2941176471;
      white-space: nowrap;
    }
  }
  .all-videos-WAF {
    color: #6c6b6c;
    flex-shrink: 0;
    font-family: Anton, 'Source Sans Pro';
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: -0.041rem;
    line-height: 0.9166666667;
    margin: 0rem 21.9rem 1.8rem 0rem;
    white-space: nowrap;
  }
  .auto-group-scyb-CHy {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 1.1rem 2.2rem 0.6rem;
    width: calc(100% - 1.7rem);

    .topics-7A3 {
      color: #000000;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      letter-spacing: -0.041rem;
      line-height: 0.9166666667;
      margin-right: 3.3rem;
      white-space: nowrap;
    }
    .languages-p4T {
      color: #000000;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      letter-spacing: -0.041rem;
      line-height: 0.9166666667;
      margin-right: 3.6rem;
      white-space: nowrap;
    }
    .duration-XUf {
      color: #000000;
      flex-shrink: 0;
      font-family: Anton, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      letter-spacing: -0.041rem;
      line-height: 0.9166666667;
      white-space: nowrap;
    }
  }
  .auto-group-rkhv-T7R {
    align-items: flex-start;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 0rem 1.8rem 0.7rem;
    width: calc(100% - 0.7rem);

    .rectangle-69-n9h {
      flex-shrink: 0;
      height: 9.2rem;
      margin-right: 1rem;
      object-fit: cover;
      vertical-align: top;
      width: 18rem;
    }
    .standups-my-experiences-at-sunburn-HcF {
      color: #000000;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.041rem;
      line-height: 2.2;
      max-width: 12.6rem;
    }
  }
  .auto-group-sezf-zmZ {
    align-items: flex-start;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 1rem 1.8rem 0.6rem;
    width: calc(100% - 1.6rem);

    .rectangle-70-ViK {
      flex-shrink: 0;
      height: 9.2rem;
      margin-right: 1.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 18rem;
    }
    .standups-my-experiences-at-amsterdem-EA7 {
      color: #000000;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.041rem;
      line-height: 2.2;
      max-width: 11.6rem;
    }
  }
  .auto-group-6phm-8WP {
    align-items: flex-start;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 0.2rem 1.8rem 0.7rem;
    width: calc(100% - 0.9rem);

    .rectangle-71-4Q3 {
      flex-shrink: 0;
      height: 9.2rem;
      margin-right: 1rem;
      object-fit: cover;
      vertical-align: top;
      width: 18rem;
    }
    .standups-my-experiences-at-kasol-CWF {
      color: #000000;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.041rem;
      line-height: 2.2;
      max-width: 12.4rem;
    }
  }
  .auto-group-fxhm-7t7 {
    align-items: flex-start;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 0.2rem 11.4rem 0.7rem;
    width: calc(100% - 0.9rem);

    .rectangle-72-M1m {
      flex-shrink: 0;
      height: 9.2rem;
      margin-right: 1rem;
      object-fit: cover;
      vertical-align: top;
      width: 18rem;
    }
    .standups-my-experiences-at-jamaica-fHM {
      color: #000000;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.041rem;
      line-height: 2.2;
      max-width: 12.4rem;
    }
  }
  .auto-group-14hh-wkf {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-right: 1.6rem;

    .image-8-tA7 {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-3-ppT {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-4-yST {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-7-i99 {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 4.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
    .image-5-e2o {
      flex-shrink: 0;
      height: 2.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 2.4rem;
    }
  }
}
  </style>
  <script>
    function homepage(){
    fetch('/homeicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/homeicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function searchicon(){
    fetch('/searchicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/searchicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function discussicon(){
    fetch('/discussion',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/discussion';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function libraryicon(){
    fetch('/libraryicon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/libraryicon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    function podcasticon(){
    fetch('/podcasticon',{
    method:'GET'
    })
    .then(()=>{
    window.location.href='/podcasticon';
    })
    .catch((error)=>{
    console.error('error',error);
    })
    }
    </script>
</head>
<body>
  <div class="android-large-11-Vwy" id="1259:367">
<div class="search-U3D" id="1259:368">
<img class="icon-search-CWw" src="https://img.icons8.com/?size=1x&id=AV1WCzI1Pf90&format=png" id="I1259:368;70:1762"/>
<label for="I1259:368;70:1761" class="text-VW3" >Search
  <input type="text" id="I1259:368;70:1761" >
</label>
</div>
<p class="all-videos-WAF" id="1259:374">ALL VIDEOS</p>
<div class="auto-group-scyb-CHy" id="W2EcVED4Z7LJmsqYWXScYB">
<p class="topics-7A3" id="1259:375">TOPICS</p>
<p class="languages-p4T" id="1259:376">LANGUAGES</p>
<p class="duration-XUf" id="1259:377">DURATION</p>
</div>
<div class="auto-group-rkhv-T7R" id="W2EcdixuVv5wHzFpg2RKhV">
<img class="rectangle-69-n9h" src="https://media.istockphoto.com/id/481701439/photo/male-fashion-model-with-beard.webp?b=1&s=170667a&w=0&k=20&c=YNLjVCiLi_b1LKCoooe_RJYqruuvnNDgTxu1jzdbY2w=" id="1259:378"/>
<p class="standups-my-experiences-at-sunburn-HcF" id="1259:382">STANDUPS-My experiences at sunburn</p>
</div>
<div class="auto-group-sezf-zmZ" id="W2Eck47h4nqpPN6cqNsezf">
<img class="rectangle-70-ViK" src="https://media.istockphoto.com/id/1202142519/photo/macho-man.webp?b=1&s=170667a&w=0&k=20&c=j6U-Lesfyl9Fn_5T6PUd0fOCjEWa3Nzw3Kxc2Eowzb8=" id="1259:379"/>
<p class="standups-my-experiences-at-amsterdem-EA7" id="1259:383">STANDUPS-My experiences at amsterdem</p>
</div>
<div class="auto-group-6phm-8WP" id="W2Ecr3whVq8y76A7JZ6PhM">
<img class="rectangle-71-4Q3" src="https://media.istockphoto.com/id/656673020/photo/handsome-in-spectacles.webp?b=1&s=170667a&w=0&k=20&c=5vM12a1G-cIr0RpSUIUPC_lTmJYiewMmGJz6O0wnLCY=" id="1259:380"/>
<p class="standups-my-experiences-at-kasol-CWF" id="1259:384">STANDUPS-My experiences at kasol</p>
</div>
<div class="auto-group-fxhm-7t7" id="W2EcxYksdd8DPHtZJzfXHm">
<img class="rectangle-72-M1m" src="https://media.istockphoto.com/id/935110496/photo/half-face-handsome-african-american-man-staring.webp?b=1&s=170667a&w=0&k=20&c=IzZPVYJIu1Tfil3sdIFSXyZgAXE2-fX_mgxoSb6dSZk=" id="1259:381"/>
<p class="standups-my-experiences-at-jamaica-fHM" id="1259:385">STANDUPS-My experiences at jamaica</p>
</div>
<div class="auto-group-14hh-wkf" id="W2Ed4iFGdaejHqqhdG14Hh">
<img class="image-8-tA7" src="https://img.icons8.com/?size=1x&id=83326&format=png" onclick="homepage()" id="1259:386"/>
<img class="image-3-ppT" src="https://img.icons8.com/?size=1x&id=59878&format=png" onclick="searchicon()" id="1259:387"/>
<img class="image-4-yST" src="https://img.icons8.com/?size=1x&id=89281&format=png" onclick="discussicon()" id="1259:388"/>
<img class="image-7-i99" src="https://img.icons8.com/?size=1x&id=59848&format=png" onclick="libraryicon()" id="1259:389"/>
<img class="image-5-e2o" src="https://img.icons8.com/?size=1x&id=100059&format=png" onclick="podcasticon()" id="1259:456"/>
</div>
</div>
</body>
</html>