<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .android-large-3-ybH {
  background-color: #d9d9d9;
  border-radius: 2rem;
  height: 80rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  .ellipse-13-NtK {
    background-image: url('https://media.istockphoto.com/id/1411155612/photo/side-profile-of-a-beautiful-young-black-woman-thinking-and-looking-powerful-standing-against.webp?b=1&s=170667a&w=0&k=20&c=7nGKLQGEmD2SfTwDFqgcgU4GjyYuBkaM2trsKjvgHQQ=');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5rem;
    height: 10rem;
    left: 13rem;
    position: absolute;
    top: 12.7rem;
    width: 10rem;
  }
  .button-primary-8nw {
    align-items: center;
    background-color: #e1caff;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 5.6rem;
    left: 2.5rem;
    padding: 1.7rem 6.5rem 1.8rem 9.3rem;
    position: absolute;
    top: 27.7rem;
    width: 30.5rem;

    .auto-group-vcsv-zKM {
      flex-shrink: 0;
      height: 0.1rem;
      margin-left: 13.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.6rem;
    }
    .auto-group-4azr-WHh {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      margin-right: 0.2rem;
      width: calc(100% - 0.2rem);

      .action-EzP {
        align-items: center;
        color: rgba(65, 54, 54, 0.6899999976);
        display: flex;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        justify-content: center;
        letter-spacing: -0.001rem;
        line-height: 1.2;
        margin-right: 0.6rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
      .ellipse-16-uKq {
        background-image: url('https://img.icons8.com/?size=1x&id=IKRAu0iMDDyV&format=png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 1rem;
        flex-shrink: 0;
        height: 2rem;
        width: 2rem;
      }
    }
  }
  .button-primary-yqV {
    background-color: #e1caff;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    height: 5.6rem;
    left: 2.5rem;
    padding: 1.8rem 5.9rem 1.8rem 8.6rem;
    position: absolute;
    top: 37.2rem;
    width: 31.5rem;

    .auto-group-ogbm-gE7 {
      align-items: center;
      display: flex;
      height: 100%;
      width: 100%;

      .action-EFd {
        align-items: center;
        color: rgba(65, 54, 54, 0.6899999976);
        display: flex;
        flex-shrink: 0;
        font-family: Anton, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 400;
        justify-content: center;
        letter-spacing: -0.001rem;
        line-height: 1.2;
        margin-right: 0.7rem;
        text-transform: uppercase;
        white-space: nowrap;
      }
      .auto-group-42ax-8bu {
        background-image: url('https://img.icons8.com/?size=1x&id=118489&format=png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 1rem;
        flex-shrink: 0;
        height: 100%;
        width: 2rem;
      }
    }
  }
  .button-primary-oxw {
    align-items: center;
    background-color: #e1caff;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    color: rgba(65, 54, 54, 0.6899999976);
    display: flex;
    font-family: Anton, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    height: 3.4rem;
    justify-content: center;
    left: 14rem;
    letter-spacing: -0.001rem;
    line-height: 1.2;
    position: absolute;
    text-transform: uppercase;
    top: 63.2rem;
    white-space: nowrap;
    width: 9rem;
  }
  .or-eif {
    align-items: center;
    color: rgba(65, 54, 54, 0.6899999976);
    display: flex;
    font-family: Anton, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    height: 1.8rem;
    justify-content: center;
    left: 17rem;
    letter-spacing: -0.001rem;
    line-height: 1.2;
    position: absolute;
    text-transform: uppercase;
    top: 45.2rem;
    white-space: nowrap;
    width: 1.5rem;
  }
  .sign-up-using-email-vRH {
    align-items: center;
    color: rgba(65, 54, 54, 0.6899999976);
    display: flex;
    font-family: Anton, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    height: 1.8rem;
    justify-content: center;
    left: 12.3rem;
    letter-spacing: -0.001rem;
    line-height: 1.2;
    position: absolute;
    text-transform: uppercase;
    top: 49.65rem;
    white-space: nowrap;
    width: 11.6rem;
  }
  .button-text-bXR {
    box-sizing: border-box;
    color: #9586a8;
    font-family: Anton, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    height: 1.8rem;
    left: 9.8rem;
    letter-spacing: -0.001rem;
    line-height: 1.2;
    padding: 0rem 1.595rem 0rem 1.505rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 54.6rem;
    white-space: nowrap;
    width: 6.1rem;
  }
  .ellipse-22-cSX {
    background-image: url('https://img.icons8.com/?size=1x&id=32zHFXeUdClK&format=png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1.25rem;
    height: 2.5rem;
    left: 27.5rem;
    position: absolute;
    top: 49.3rem;
    width: 2.5rem;
  }
  .password-hym {
    color: #9586a8;
    font-family: Anton, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    height: 1.8rem;
    left: 8rem;
    letter-spacing: -0.001rem;
    line-height: 1.2;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 59.3rem;
    white-space: nowrap;
    width: 6.1rem;
  }
  .button-primary-8nw:hover {
      background-color: #797272;
    }
    .button-primary-yqV:hover {
      background-color: #797272;
    }
    .button-primary-oxw:hover {
      background-color: #797272;
    }
}
  </style>
  <script>
          function signup1(){
        const email=document.getElementById('1161:376').value;
        const password=document.getElementById('1291:316').value;
        const data={
          email:email,
          password:password
        };
        fetch('http://localhost:3000/listener/create',{
          method:'POST',
          headers:{
            'Content-Type':'application/json'
          },
          body:JSON.stringify(data)
        })
        .then(response=>response.json())
        .then(data=>{
        if(data.success){
          window.location.href='/signin';
        }else{
          window.location.href='/signup1';
        }
      })
      .catch((error)=>{
        console.log('error',error);
      })
    }
    function google(){
      window.location.href='/google';
    }
    function facebook(){
      window.location.href='/facebook';
    }
  </script>
</head>
<body>
  <div id="flash-message"></div>
  <div class="android-large-3-ybH" id="1160:351">
    <div class="ellipse-13-NtK" id="1161:352"></div>
    <button class="button-primary-8nw" id="1161:355" onclick="google()">
    <img class="auto-group-vcsv-zKM" src="/api/try-prod-ap-southeast-1-first-cluster/project..." id="6oBkqBVQTuUsDPnv6bvcsV"/>
    <div class="auto-group-4azr-WHh" id="6oBktvtAEZAauyL6e64aZR">
    <div class="action-EzP" id="I1161:355;116:823">sign up with google</div>
    <div class="ellipse-16-uKq" id="1162:405"></div>
    </div>
    </button>
    <button class="button-primary-yqV" id="1161:357" onclick="facebook()">
    <div class="auto-group-ogbm-gE7" id="6oBm5vZqh8NhEU7AVuoGBM">
    <div class="action-EFd" id="I1161:357;116:823">sign up with facebook</div>
    <div class="auto-group-42ax-8bu" id="6oBm9qcz2hHn7sXztV42AX"></div>
    </div>
    </button>
    <button class="button-primary-oxw" id="1161:361" onclick="signup1()">sign up</button>
    <div class="or-eif" id="1161:364">or</div>
    <div class="sign-up-using-email-vRH" id="1161:365">sign up using email</div>
    <label for="1161:376" class="button-text-bXR" > EMAIL
      <input type="email" id="1161:376" name="email">
    </label>
    <div class="ellipse-22-cSX" id="1173:468"></div>
    <label for="1291:316" class="password-hym" >password
      <input type="password" id="1291:316" name="password">
    </label>
    </div>
</body>
</html>